<h1>Бренды</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Активность</th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= link_to brand.name, edit_administration_brand_path(brand) %></td>
    <td><%= brand.active ? 'Да' : 'Нет' %></td>
    <td><%= link_to 'Удалить', administration_brand_path(brand), confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать', new_administration_brand_path %>
