<div id="simple_cart">
<% if @cart.items.length > 0 %>
	В вашей <%= link_to "корзине", :controller => :cart, :action => :show %> <span id="simple_cart_product_number"><%= @cart.items.length %></span> товаров
<% else %>
	Ваша корзина пуста
<% end %>
</div>
