%span.admin_product_properties_page{:data => {:number => "1"}}
  Основное
%span.admin_product_properties_page{:data => {:number => "2"}}
  Дополнительное
%span.admin_product_properties_page{:data => {:number => "3"}}
  Изображения
.clear