<h1>Редактировать товар</h1>

<h3><%=@administration_product.name%></h3>

<%= render 'form' %>

<%= link_to 'Просмотр', administration_product_path(@administration_product) %> |
<%= link_to 'Назад', administration_products_path %>
