<%= params %>

<hr>
<ul>
	<% if @products.empty? %>
		Для данной категории товаров нет
	<% end %>
	<% @products.each do |p| %>
		<li><%= link_to p.name, :controller => :product, :action => :show, :cat_ref => Category.where(:alias => params[:cat_ref]).first.alias, :prod_ref => (!p.alias.empty? ? p.alias : p.id.to_s) %></li>
	<% end %>
</ul>

<%= paginate @products %>
