<h1><%= @category.name %></h1>
<hr>
<% if @category.categories.length > 0 %>
	<ul>
		<% @category.categories.each do |c| %>
			<li><%= link_to c.name, c.alias %></li>
		<% end %>
	</ul>
<% end %>
<ul id="products_list">
	<% if @products.empty? %>
		Для данной категории товаров нет
	<% end %>
	<% @products.each do |p| %>
		<%= render :partial => 'public/product/product', :locals => {:product => p} %>
	<% end %>
</ul>

<%= paginate @products %>
