- unless @cart.items.empty?
  %table
    %tr
      %td 'ФИО'
      %td= text_field 'order', 'fio'
    %tr
      %td 'E-mail'
      %td= text_field 'order', 'email'
    %tr
      %td 'Телефон'
      %td= text_field 'order', 'phone'
