<script>
	$(function(){
		$('button[name=del_cart_item]').click(function(){
			var product_id = $(this).data('product_id');
			$.post('/cart/delete_from_cart/'+product_id, function(){
				document.location.reload;
			});
		});
	});
</script>

<div id="cart_table_div">
  <%= render :template => 'public/cart/cart_table_body' %>
</div>
